# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environment
.env
venv/
dashboard-env/
*.env

# IDE
.vscode/
.idea/
excercises_docs/Suggested exercises for every week F2025.docx
excercises_docs/Table of Contents.html
excercises_docs/week_2_exercises.pdf
excercises_docs/week_2_solutions.pdf
excercises_docs/week_3_exercises.pdf
excercises_docs/week_3_solutions.pdf
excercises_docs/week_4_exercises.docx
excercises_docs/week_4_solutions.docx
excercises_docs/week_5_exercises.pdf
excercises_docs/week_5_solutions.pdf
excercises_docs/week_6_exercises.docx
excercises_docs/week_6_solutions.docx
excercises_docs/week_7_exercises.pdf
excercises_docs/week_7_solutions.pdf
excercises_docs/week_8_exercises.docx
excercises_docs/week_8_solutions.docx
excercises_docs/week_9_exercises.docx
excercises_docs/week_9_solutions.docx
excercises_docs/week_10_exercises.docx
excercises_docs/week_10_solutions.docx
excercises_docs/week_11_exercises.docx
excercises_docs/week_11_solutions.docx
excercises_docs/week_12_exercises.docx
excercises_docs/week_12_solutions.docx
excercises_docs/week_13_exercises.docx
excercises_docs/week_13_solutions.docx
Lectures/01 Introduction (Chapter 1).pdf
Lectures/02 Simple Comparative Experiments (Chapter 2).pdf
Lectures/03 ANOVA (Chapter 3).pdf
Lectures/04 Randomized Blocks (Chapter 4).pdf
Lectures/05 Factorial Designs (Chapter 5).pdf
Lectures/06 2-level Factorial Designs (Chapter 6).pdf
Lectures/07 Blocking and Confounding (Chapter 7).pdf
Lectures/08 Fractional Factorials (Chapter 8).pdf
Lectures/09 Response Surface Methology (Chapter 11).pdf
Lectures/10 Random Factors (Chapter 13).pdf
Lectures/11 Split Plot Designs (Chapter 14).pdf
